.container {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
  height: 100vh;
  grid-template-rows: min-content 1fr min-content;
  grid-template-columns: max-content 1fr;
  background-color: var(--map-backdrop);
}

.header {
  grid-area: header;
  min-height: 32px;
  background-color: var(--grey-50);
  border-bottom: 1px solid var(--grey-400);
}

.title {
  padding: 8px 4px 8px;
  margin: 0;
}

.sidebar {
  grid-area: sidebar;
  border-right: 1px solid var(--grey-400);
  background-color: var(--grey-50);
  width: min-content;
}

.main {
  grid-area: main;
  position: relative;
}

.gridContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 650px;
  height: 650px;
  pointer-events: none;
}
