.layout {
  display: grid;
  grid-gap: 8px;
  padding: 16px 8px 24px;
  grid-gap: 16px;
}

.profilePlot {
  margin: 0;
}

.disclaimer {
  margin: 0;
}

.columns {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
